<script src="node_modules/chart.js/src/chart.js"></script>
<div class="menuBackground">
  <div class="left">
    <a href="">
      <img src="../assets/logo-cad.png" alt="Home" style="width:50px;height:37px;border:0;">
    </a>
  </div>

  <div class="center">
    <ul class="dropDownMenu">
      <li><a href="#">Дані</a>
        <ul>
          <li><a href="#">Предмети</a>
            <ul>
              <li><a routerLink="/subjects">Список предметів</a></li>
              <li><a routerLink="/sections">Розділи предметів</a></li>
            </ul>
          </li>

          <li><a href="#">Факультет</a>
            <ul>
              <li><a routerLink="/departments">Кафедри</a></li>
              <li><a routerLink="/specializations">Спеціалізації</a></li>
<!--              <li><a routerLink="/groups">Групи</a></li>-->
            </ul>
          </li>

          <li><a href="#">Документи</a>
            <ul>
              <li><a routerLink="/curriculums">Навчальні плани</a></li>
              <li><a routerLink="/working-plans">Робочі навчальні плани</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li><a href="#">Генерація</a>
        <ul>
<!--          <li><a href="http://localhost:8080/documentType-generation?documentType=CURRICULUM">Навчальний план</a></li>-->
          <li><a href="http://localhost:8080/documentType-generation?documentType=WORK_PLAN">Робочий навчальний план</a>
          </li>
<!--          <li><a href="http://localhost:8080/documentType-generation?documentType=K3">Форма К-3</a></li>-->
        </ul>
      </li>

      <li><a href="http://localhost:8080/Templates.html">Робота з шаблонами</a></li>

<!--      <li><a href="http://localhost:8080/DatabaseYear.html">Вибрати рік</a></li>-->

      <li><a href="#">Навантаження</a>
        <ul>
          <li><a routerLink="/subject-load">Розподіл (дисципліни)</a></li>
          <li><a routerLink="/other-load">Розподіл (інші види)</a></li>
          <li><a routerLink="/statistics">Статистика по викладачам</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<router-outlet>
  <div>
    <button id="myBtn"
            class="button is-light is-danger is-medium"
            (click)="toTop()">
      &#8657;
    </button>
  </div>
</router-outlet>
