#chart {
  height: 540px;
}

#chart {
  width: 70%;
  align-content: center;
  margin-bottom: 50px;
}

#other-chart {
  width: 60%;
}

#total {
  width: 60%;
}

h2 {
  font-family: Helvetica;
  padding-left: 10px;
}
