<div id="subject-list-container">
  <div id="subject-list-item-container" *ngFor="let subject of subjects">
    <table class="table is-hoverable is-fullwidth header-container"
           (click)="subject.displayInfo = !subject.displayInfo">
      <thead>
      <tr>
        <th>id</th>
        <th>Назва</th>
        <th>Батьківський Предмет</th>
        <th>Секція Навчального Плану</th>
        <th>Секція Робочого Плану</th>
        <th>Тип Предмета</th>
        <th>Кафедра</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td [class.is-selected]="subject.displayInfo">{{subject.header.id}}</td>
        <td [class.is-selected]="subject.displayInfo">{{subject.header.denotation}}</td>
        <td [class.is-selected]="subject.displayInfo">{{subject.header.superSubjectId}}</td>
        <td [class.is-selected]="subject.displayInfo">{{subject.header.curriculumSectionId}}</td>
        <td [class.is-selected]="subject.displayInfo">{{subject.header.workingPlanSectionId}}</td>
        <td [class.is-selected]="subject.displayInfo">{{subject.header.subjectTypeId}}</td>
        <td [class.is-selected]="subject.displayInfo">{{subject.header.departmentId}}</td>
        <td><a class="button is-info" (click)="editHeader(subject.header)">Edit</a></td>
        <td><a class="button is-danger" (click)="deleteHeader(subject.header)">Delete</a></td>
        <td><a class="button is-primary" (click)="addInfo(subject.header)">Add Info</a></td>
      </tr>
      </tbody>
    </table>
    <table *ngIf="subject.displayInfo"
           class="table is-hoverable is-bordered is-fullwidth infos-container">
      <thead>
      <tr>
        <th>id</th>
        <th>Семестр</th>
        <th>К-сть семестрів</th>
        <th>Лекції</th>
        <th>Фкт. Лекції</th>
        <th>Лаби</th>
        <th>Фкт. Лаби</th>
        <th>Практики</th>
        <th>Фкт. Практики</th>
        <th>ECTS</th>
        <th>Предмет</th>
        <th>Контроль</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let info of subject.infos">
        <td>{{info.id}}</td>
        <td>{{info.semester}}</td>
        <td>{{info.semestersDuration}}</td>
        <td>{{info.lectures}}</td>
        <td>{{info.actualLectures}}</td>
        <td>{{info.labs}}</td>
        <td>{{info.actualLabs}}</td>
        <td>{{info.practices}}</td>
        <td>{{info.actualPractices}}</td>
        <td>{{info.ects}}</td>
        <td>{{info.subjectHeaderId}}</td>
        <td>{{info.controlsIds}}</td>
        <td><a class="button is-info is-small" (click)="editInfo(info)">Edit</a></td>
        <td><a class="button is-danger is-small" (click)="deleteInfo(info)">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
