<div id="subject-list-container">
  <div id="subject-list-item-container" *ngFor="let subject of subjects">
    <table class="table is-hoverable header-container">
      <thead>
      <tr>
        <th>id</th>
        <th>denotation</th>
        <th>superSubjectId</th>
        <th>curriculumSectionId</th>
        <th>workingPlanSectionId</th>
        <th>subjectTypeId</th>
        <th>departmentId</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{subject.header.id}}</td>
        <td>{{subject.header.denotation}}</td>
        <td>{{subject.header.superSubjectId}}</td>
        <td>{{subject.header.curriculumSectionId}}</td>
        <td>{{subject.header.workingPlanSectionId}}</td>
        <td>{{subject.header.subjectTypeId}}</td>
        <td>{{subject.header.departmentId}}</td>
        <td><a class="button" (click)="editHeader(subject.header)">Edit</a></td>
        <td><a class="button" (click)="deleteHeader(subject.header)">Delete</a></td>
        <td><a class="button" (click)="addInfo(subject.header)">Add Info</a></td>
      </tr>
      </tbody>
    </table>
    <table class="table is-hoverable infos-container">
      <thead>
      <tr>
        <th>id</th>
        <th>semester</th>
        <th>semestersDuration</th>
        <th>lectures</th>
        <th>actualLectures</th>
        <th>labs</th>
        <th>actualLabs</th>
        <th>practices</th>
        <th>actualPractices</th>
        <th>ects</th>
        <th>headerId</th>
        <th>ccontrolIdsontrolIds</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let info of subject.infos">
        <td>{{info.id}}</td>
        <td>{{info.semester}}</td>
        <td>{{info.semestersDuration}}</td>
        <td>{{info.lectures}}</td>
        <td>{{info.actualLectures}}</td>
        <td>{{info.labs}}</td>
        <td>{{info.actualLabs}}</td>
        <td>{{info.practices}}</td>
        <td>{{info.actualPractices}}</td>
        <td>{{info.ects}}</td>
        <td>{{info.subjectHeaderId}}</td>
        <td>{{info.controlsIds}}</td>
        <td><a class="button" (click)="editInfo(info)">Edit</a></td>
        <td><a class="button" (click)="deleteInfo(info)">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
