<div *ngIf="workingPlan; else loading">
  <br>
  <label>id:<br>
    <input [(ngModel)]="workingPlan.id" disabled/>
  </label>

  <br>
  <label>Назва:<br>
    <input [(ngModel)]="workingPlan.denotation"/>
  </label>

  <div *ngIf="scientificResearchSubjects">
    <br>
    <label>Навчальний план:<br>
      <select [(ngModel)]="workingPlan.curriculum.id">
        <option *ngFor="let curriculum of curricula" [value]="curriculum.id">{{curriculum.text}}</option>
      </select>
    </label><br>
  </div>

  <div *ngIf="practices">
    <br>
    <label>Практика:<br>
    <select [(ngModel)]="workingPlan.practice.id">
      <option *ngFor="let practice of practices" [value]="practice.id">{{practice.text}}</option>
    </select>
    </label><br>
  </div>

  <div *ngIf="scientificResearchSubjects">
    <br>
    <label>Предмет наукового дослідження:<br>
      <select [(ngModel)]="workingPlan.scientificResearchSubject.id">
        <option *ngFor="let subject of scientificResearchSubjects" [value]="subject.id">{{subject.text}}</option>
      </select>
    </label><br>
  </div>

  <div *ngIf="stateCertifications">
    <br>
    <label>Державна атестація:<br>
      <select [(ngModel)]="workingPlan.stateCertification.id">
        <option *ngFor="let cert of stateCertifications" [value]="cert.id">{{cert.text}}</option>
      </select>
    </label><br>
  </div>

  <div *ngIf="workingPlan.diplomaPreparations && workingPlan.diplomaPreparations.length > 0">
    <br>
    <label>Дипломна підготовка:</label>
    <br>
    <table class="table is-bordered">
      <tr *ngFor="let preparation of workingPlan.diplomaPreparations">
        <td>{{preparation.text}}</td>
        <td><a class="button is-info" (click)="editPreparation(preparation.id)">&#9998;</a></td>
        <td><a class="button is-danger" (click)="removePreparation(preparation.id)">X</a></td>
      </tr>
    </table>
  </div>

  <br>
  <a class="button is-success" (click)="addDiplomaPreparation(workingPlan.id)">Додати підготовку</a>

  <br>
  <a class="button is-success" (click)="save()">Зберегти</a>
</div>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
